.card{
  border: 1px solid black;
  width: 35vh;
  border-radius: 15px ;
}

.matched-container{
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  
}


.card-imgDetails-container{
  display: flex;
  margin-left: 0.7rem;
}
.card-imgDetails-container >*{
  margin: 0.4rem;
}